@font-face {
    font-family: 'mine-Font'; /* Nombre que le darás a la fuente */
    src: url('font/Minecraft.ttf') format('truetype'); /* Ruta relativa a la ubicación de la fuente */
  }
  

* {
    font-family: 'mine-Font', sans-serif; /* Utiliza el nombre de la fuente especificado en font-family */
    padding: 0;
    margin: 0;
}

.fondoBody{
    height: 100vh;
    display: flex;
    align-items: center;
    transition: all 1s linear;
    position: relative;
}

.contenedor {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-image: linear-gradient( 0deg, rgb(185, 255, 255) , rgb(95, 228, 243)) ;
    /* background: linear-gradient(#b7d6c7, transparent) #d1eaff;linear-gradient(#90ebff, white); */
    transition: background-image 1s linear;
    overflow: hidden;
}

.mediodia {
    background-image: linear-gradient(0deg, rgb(155, 188, 255) , rgb(95, 184, 243)) ;
}

.tarde {
    background-image: linear-gradient(0deg, rgb(255, 198, 155) , rgb(243, 125, 95)) ;
}

.noche {
    background-image: linear-gradient(0deg, rgb(47, 63, 154) , rgb(59, 41, 105)) ;
}


.dino {
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(img/dino.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;

    transition: filter 0.3s;
}
.colorDino1{
    filter: hue-rotate(70deg) brightness(1) contrast(255);

}
.colorDino2{
    filter: hue-rotate(255deg) brightness(1) contrast(255);
   
}
.colorDino3{
    filter: hue-rotate(25deg) brightness(1) contrast(255);

}

.dino-corriendo {
    animation: animarDino 0.25s steps(2) infinite;
}
.dino-estrellado {
    background-position-x: -252px;
}

.suelo {
    width: 200%;
    height: 42px;

    position: absolute;
    bottom: 0;
    left: 0;

    background: url(img/suelo.png) repeat-x 0px 0px;
    background-size: 50% 42px;

    filter: brightness(1.1);
}
.sueloMediodia{
    filter: brightness(1.0);
}
.sueloTarde{
    filter: brightness(0.8);
}
.sueloNoche{
    filter: brightness(0.5);
}
.cactus{
    width: 46px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(img/cactus1.png) no-repeat;
}
.cactus2{
    width: 98px;
    height: 66px;

    background: url(img/cactus2.png) no-repeat;
}

.nube{
    width: 92px;
    height: 15px;

    position: absolute;
    z-index: 0;

    background: url(img/nube.png) no-repeat;
    background-size:cover;
}

.score{
    margin-top: 15px;
    align-items: center;
    padding: 5px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
    min-width: 100px;
    height: 30px;
    

    position: absolute;
    top: 10px ;
    right: 50%;
    transform: translate(50%, 0);
    z-index: 10;

    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.532);
}

.game-over{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 700;
    justify-items: center;
    transition: display 1s linear;;
    align-items: center;
    justify-content: center;

}
.record{
    display: none;
    animation:record 1s infinite;
    font-size: 2rem;
    margin-top: 50px;
}
.mejorPuntuacion{
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.532);

    align-items: center;
    padding: 5px;
    justify-content: center;
    display: flex;
    flex-direction: column;

    min-width: 100px;
    height: 30px;
    

    position: absolute;
    top: 10px ;
    right: 10px;
    z-index: 10;

    color: #ffffff;
    font-size: 20px;
    text-align: right;
}
.retry{
    width: 100%;
    max-width: 300px;
    margin: 0 10px;
    padding: 5px;
    font-size: 1rem;
    border: none;
    transition: 1s;
    background: transparent;
    color: white;
    border-radius: 5px;
    border: 2px solid;
    cursor: pointer;
}
.retry:hover{
    background: white;
    color: black;
    transform: scale(1.1);
}
@keyframes animarDino{
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: -252px;
    }
}
@keyframes record {
    0%{
        transform: scale(105%);
    }
    100%{
        transform: scale(100%);
    }
}


    